
.bodyservices {
  color: #fff;
  background: url(./mountains.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 1 !important;  
  /*filter: grayscale(100%);*/
}
i{
  font-size: 50px;
}
.row>* {
  padding-left: 0px!important;
}
.fondo-serv{
  background-color: #3b3b3be6;
  min-height: 100vh;
  padding-left: 100px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.fondo-serv h2{
  font-size: 60px;
  font-family: 'Cookie', cursive;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}
.fondo-serv h3{
  position: absolute;
  top: 90%;
  left: 1%;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
}
.fondo-serv p{
  font-size: 30px;
  width: 70%;
  font-family: 'Dosis', sans-serif;
}
.fondo-serv h3 strong{
  color: #f18513;
}
.img-services{
  position: absolute;
  top: 40%;
  z-index: 3;
}
.servicios{
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.856)!important;
  color:#000000 ;
  position: relative;
  left: -100px;
}
.servicios h4{
  font-family: 'Cookie', cursive;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.servicios p{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
.after{
  display: flex;
  align-items: center;
}
@media(max-width: 980px){
  .fondo-serv{
    background-color: #3b3b3be6;
    height: 17rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
  }
  .servicios{
    width: 100%;
    text-align: center;
    background-color: #ffffff!important;
    left: 0px;
  }
  .fondo-serv p{
    font-size: 15px;
    width: 100%;
  }
  .row>* {
    padding-right: 0px!important;
  }
  .fondo-serv h3 {
    position: absolute;
    top: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
}

/* Paleta de colores */

/*
 * #ff8700 Mostaza
 * #0d1a2a Azul oscuro
 * #273c4d Azul Medio
 * #7a9aaf Azul Claro
 * #d2d3ce gris
 */
