.bodyCreative {
  color: #fff;
  background: url(./Parque.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 1 !important;  
}
.fondo-contact{
  background-color: #ffffffe6;
  min-height: 100vh;
  padding-left: 100px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.fondo-contact h2{
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Cookie', cursive;
  font-weight: bold;
}
.fondo-contact P{
  color: #ff8700;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
}
.fondo-contact h4{
  color: #000000;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}
.fondo-contact h3{
  font-family: 'Dosis', sans-serif;
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 1%;
  font-size: 40px;
}
.fondo-contact h3 strong{
  color: #f18513;
}
.fondo-contact-2{
  background-color: #3b3b3b81;
  min-height: 100vh;
}
.fondo-contact-2 label{
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}
.after{
  display: flex;
  align-items: center;
}
.form-control {
  background-color: #fff0!important;
  border: 1px solid #ced4da00!important;
  border-radius: 0rem!important;
  border-bottom: 2px solid #ffffff!important;
}
.form-group{
  line-height: 50px;
}
.btn-primary {
  color: #fff;
  background-color: #ff8700!important;
  border-color: #ff8700!important;
  font-size: 80px;
}
.btn{
  padding: 0.50rem 3rem!important;
  border-radius: 0rem!important;
  margin-top: 70px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}
.row>*{
  padding-right: 0px!important;
}
@media(max-width: 980px){
  .fondo-contact h3{
    color: rgb(255, 255, 255);
  }
  .fondo-contact h2{
    font-size: 50px;
  }
  .fondo-contact{
    height: 17rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
  }
}
/* Paleta de colores */
/*
 * #ff8700 Mostaza
 * #0d1a2a Azul oscuro
 * #273c4d Azul Medio
 * #7a9aaf Azul Claro
 * #d2d3ce gris
 */
