
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*body {
  background: url(/src/ascets/Sagert-2.jpg) no-repeat center;
  background-size: cover;
  max-width:100%;
  height: auto;
  
}*/
