/* ESTILOS MENU TRANSPARENTE */
.header .navbar {
    background-color: transparent!important;
    position: absolute;
    z-index: 2;
    max-width: 2560px;
    width: 100%;
}
.navbar-nav li{
    margin-right: 30px;
}
.navbar-nav li a{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.navbar-brand img{
    width: 70px;
    height: 70px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(185, 185, 185)!important;
    font-family: -webkit-pictograph;
    font-size: 23px;
    font-weight: 400;
}
.navbar-light .navbar-toggler {
    border-color: #00000000!important;
  }
.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem!important;
}
#navbarNav{
    display: flex!important;
    justify-content: center;
}
@media(max-width: 980px){
    .header .navbar {
        position: relative;
    }
    #navbarNav {
        display: initial!important;
        justify-content: flex-start;
    }
}